<clr-datagrid  >
  <clr-dg-column style="width:20%" >Businessrule ID</clr-dg-column>
  <clr-dg-column style="width:40%" >name</clr-dg-column>
  <clr-dg-column style="width:40%" >applied</clr-dg-column>

  <clr-dg-row *clrDgItems="let businessrule of businessrules" [clrDgItem]="businessrule">

    <clr-dg-cell>{{businessrule.id}}</clr-dg-cell>
    <clr-dg-cell>{{businessrule.name}}</clr-dg-cell>
    <clr-dg-cell>{{businessrule.applied}}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(businessrule.id)">Edit</button>
      <button class="action-item" (click)="onDelete(businessrule.id)">Delete</button>
      <button class="action-item" (click)="onApply(businessrule.id)">Apply</button>
  </clr-dg-action-overflow>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} businessrules
  </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
