<div class="row">
  <div class="col-xs-4">
    <a class="card clickable" href="/define/details?type=arng">
      <div class="card-header">Attribute Range rule</div>
      <div class="card-block">

        <div class="card-text">This type of rule compares a column to a numeric range.</div>
      </div>

    </a>
  </div>
  <div class="col-xs-4" href="/define/details?type=acmp">
    <a class="card clickable">
      <div class="card-header">Attribute Compare rule</div>
      <div class="card-block">

        <div class="card-text">This type of rule compares a column and a value.</div>
      </div>

    </a>
  </div>
  <div class="col-xs-4">
    <a class="card clickable" href="/define/details?type=alis">
      <div class="card-header">Attribute List rule</div>
      <div class="card-block">

        <div class="card-text">This type of rule Compares a column against a list of values.</div>
      </div>

    </a>
  </div>
</div>

  <div class="row">
    <div class="col-xs-4">
      <a class="card clickable" href="/define/details?type=aoth">
        <div class="card-header">Attribute Other rule</div>
        <div class="card-block">

          <div class="card-text">This type of rule Compares a value to a self written condition.</div>
        </div>

      </a>
    </div>
    <div class="col-xs-4">
      <a class="card clickable" href="/define/details?type=tcmp">
        <div class="card-header">Tuple Compare rule</div>
        <div class="card-block">

          <div class="card-text">This type of rule compares between two columns.</div>
        </div>

      </a>
    </div>
    <div class="col-xs-4">
      <a class="card clickable" href="/define/details?type=toth">
        <div class="card-header">Tuple Other rule</div>
        <div class="card-block">

          <div class="card-text">This type of rule uses 2 columns to compare.</div>
        </div>

      </a>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-4">
        <a class="card clickable" href="/define/details?type=icmp">
          <div class="card-header">Inter-Entity Compare rule</div>
          <div class="card-block">

            <div class="card-text">This type of rule compares columns from two different tables.</div>
          </div>

        </a>
      </div>
      <div class="col-xs-4">
        <a class="card clickable" href="/define/details?type=eoth">
          <div class="card-header">Entity Other rule</div>
          <div class="card-block">

            <div class="card-text">This type of rule uses 2 columns from different tables to compare.</div>
          </div>

        </a>
      </div>
      <div class="col-xs-4">
        <a class="card clickable" href="/define/details?type=modi">
          <div class="card-header">Modify rule</div>
          <div class="card-block">

            <div class="card-text">This rule prevents action from happening if condition is true.</div>
          </div>

        </a>
      </div>
    </div>

