<div class="main-container">
    <header class="header header-6">
        <div class="branding">
          <a href="/" class="nav-link">
            <clr-icon shape="ruler-pencil"></clr-icon>
            <span class="title">Businessrule generator dashboard</span>
          </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <ng-content></ng-content>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
              <a href="/" class="nav-link">HOME</a>
              <section class="nav-group" *ngIf="targetActive" >
                  <input id="editTargetDatabase" type="checkbox">
                  <label for="editTargetDatabase">Edit Target Database</label>
                  <ul class="nav-list">
                      <li><a class="nav-link" href="/target/department">Department</a></li>
                      <li><a class="nav-link" href="/target/employee">Employee</a></li>
                      <li><a class="nav-link" href="/target/project">Project</a></li>
                  </ul>
              </section>
              <section class="nav-group" *ngIf="defineActive" >
                <input id="editTargetDatabase" type="checkbox">
                <label for="editTargetDatabase">Define Businessrules</label>
                <ul class="nav-list">
                    <li><a class="nav-link" href="/define">overview of rules</a></li>
                </ul>
            </section>
            <section class="nav-group" *ngIf="generateActive" >
              <input id="editTargetDatabase" type="checkbox">
              <label for="editTargetDatabase">Generate Businessrules</label>
              <ul class="nav-list">
                  <li><a class="nav-link" href="/generate">overview of rules</a></li>
              </ul>
          </section>
            </section>
        </nav>
    </div>
  </div>
