<div class="main-container">
    <header class="header header-6">
        <div class="branding">
          <a [routerLink]="['/']" class="nav-link">
            <clr-icon shape="ruler-pencil"></clr-icon>
            <span class="title">Businessrule generator dashboard</span>
          </a>
        </div>

    </header>
    <div class="content-container">
        <div class="content-area">
            <ng-content></ng-content>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
              <a [routerLink]="['/']" class="nav-link">HOME</a>
              <section class="nav-group" *ngIf="targetActive" >
                  <input id="editTargetDatabase" type="checkbox">
                  <label for="editTargetDatabase">Edit Target Database</label>
                  <ul class="nav-list">
                      <li><a class="nav-link" [routerLink]="['/target/department']">Department</a></li>
                      <li><a class="nav-link" [routerLink]="['/target/employee']">Employee</a></li>
                      <li><a class="nav-link" [routerLink]="['/target/project']">Project</a></li>
                  </ul>
              </section>
              <section class="nav-group" *ngIf="defineActive" >
                <input id="defineBusinessRule" type="checkbox">
                <label for="defineBusinessRule">Businessrule types</label>
                <ul class="nav-list">
                    <li><a class="nav-link" [routerLink]="['/define/type']">overview of types</a></li>
                    <li><a class="nav-link" [routerLink]="['/define/type/details']">new type</a></li>
                </ul>
            </section>
              <section class="nav-group" *ngIf="defineActive" >
                <input id="defineBusinessRule" type="checkbox">
                <label for="defineBusinessRule">Businessrules</label>
                <ul class="nav-list">
                    <li><a class="nav-link" [routerLink]="['/define/rule']">overview of rules</a></li>
                    <li><a class="nav-link" [routerLink]="['/define/rule/details']">new rule</a></li>
                </ul>
            </section>
            <section class="nav-group" *ngIf="defineActive" >
              <input id="defineBusinessRule" type="checkbox">
              <label for="defineBusinessRule">Templates</label>
              <ul class="nav-list">
                  <li><a class="nav-link" [routerLink]="['/define/template/details']">Template editor</a></li>

              </ul>
          </section>
            </section>
        </nav>
    </div>
  </div>
