<form class="clr-form-horizontal" clrForm [formGroup]="businessRuleTypeForm" (ngSubmit)="onSubmit()" [hidden]="submitted">

  <label>Department details</label>

  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="name" size="30">
    <clr-control-error>Name is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Name Code</label>
    <input clrInput type="text" formControlName="nameCode" size="30">
    <clr-control-error>Name code is required</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary"
      type="submit"
      [disabled]="businessRuleTypeForm.invalid">Edit</button>
</form>
