<div class="clr-row">
  <div class="clr-col-4">
<form
  class="clr-form-horizontal"
  clrForm
  [formGroup]="acmpForm"
  (ngSubmit)="onSubmit()"
  [hidden]="submitted"
>
  <label> Attribute Compare rule details </label>

  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="name" size="30" />
    <clr-control-error *ngIf="name?.errors?.required"
      >Name is required</clr-control-error
    >
    <clr-control-error *ngIf="name?.errors?.maxlength"
      >Name needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>
  <clr-input-container>
    <label>description</label>
    <input clrInput type="text" formControlName="description" size="30" />
    <clr-control-error *ngIf="description?.errors?.required"
      >Description is required</clr-control-error
    >
    <clr-control-error *ngIf="description?.errors?.maxlength"
      >Description needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>
  <clr-input-container>
    <label>example</label>
    <input clrInput type="text" formControlName="example" size="30" />
    <clr-control-error *ngIf="example?.errors?.required">Example is required</clr-control-error
    >
    <clr-control-error *ngIf="example?.errors?.maxlength"
      >Example needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>
  <clr-input-container>
    <label>Error Message</label>
    <input clrInput type="text" formControlName="errorMessage" size="30" />
    <clr-control-error *ngIf="errorMessage?.errors?.required">Error Message is required</clr-control-error
    >
    <clr-control-error *ngIf="errorMessage?.errors?.maxlength"
      >Error message needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>
  <clr-input-container>
    <label>table</label>
    <input clrInput type="text" formControlName="table" size="30" />
    <clr-control-error *ngIf="table?.errors?.required"
      >Table is required</clr-control-error
    >
    <clr-control-error *ngIf="table?.errors?.maxlength"
      >Table needs to be shorter than 255 characters</clr-control-error
    >
</clr-input-container>
  <clr-input-container>
    <label>column</label>
    <input clrInput type="text" formControlName="column" size="30" />
    <clr-control-error *ngIf="column?.errors?.required"
      >Column is required</clr-control-error
    >
    <clr-control-error *ngIf="column?.errors?.maxlength"
      >Column needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>

  <clr-select-container>
    <label>Comparison Type</label>
    <select clrSelect name="comparisonType" formControlName="comparisonType">
      <option value="=">=</option>
      <option value="<>"><></option>
      <option value="!=">!=</option>
      <option value=">">></option>
      <option value=">=">>=</option>
      <option value="<"><</option>
      <option value="<="><=</option>
    </select>
    <clr-control-error>Comparisontype is required</clr-control-error>
  </clr-select-container>
  <clr-input-container>
    <label>Value to be compared to</label>
    <input clrInput type="text" formControlName="value" size="30" />
    <clr-control-error *ngIf="value?.errors?.required"
      >Value is required</clr-control-error
    >
    <clr-control-error *ngIf="value?.errors?.maxlength"
      >Value needs to be shorter than 255 characters</clr-control-error
    >
  </clr-input-container>
  <br/>
    <div class="form-group" [formGroup]="actions" formGroupName="actions">
        <label><b>happen on</b></label>
        <div class="checkbox">
            <input type="checkbox" value="INS"  formControlName="insert" id="checkrads_1">
            <label for="checkrads_1">Insert</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" value="UPD"  formControlName="update" id="checkrads_2" >
            <label for="checkrads_2">Update</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" value="DEL"  formControlName="delete" id="checkrads_3" >
          <label for="checkrads_3">Delete</label>
      </div>
      </div>
      <br/>




  <button class="btn btn-primary" type="submit" [disabled]="acmpForm.invalid">Define</button>
</form>

</div>
<div class="clr-col-8">
  <pre>
    <code >
      create or replace trigger {{name.value}}_trigger
      before delete or insert or update
      on {{table.value}}
      for each row
      declare
        l_oper varchar2 ( 3 );
        l_error_stack varchar2 ( 4000 );
        l_passed  boolean := true
      begin
        if inserting
        then
          l_oper := 'INS';
        elsif updating
        then
          l_oper := 'UPD';
        elsif deleting
        then
          l_oper := 'DEL';
        end if;
        if l_oper in({{actionString}})
        then
          --{{description.value}}
          l_passed := :new.{{column.value}} {{comparisonType.value}} {{value.value}}
          if not l_passed
          then
            l_error_stack := l_error_stack || '{{errorMessage.value}}';
            end if;
          end if;
      end;

    </code>
  </pre>
</div>
</div>
