
<form class="clr-form form-block"
clrForm
(ngSubmit)="onSubmit()">

<div class=""><label>Edit templates</label></div>


<div class=" form-group">

    <label>Database Type</label>
    <select for="dtyp" clrSelect name="options" name="databasetype" [(ngModel)]="databasetype" (change)="onSelectChange()" required>
      <option id="dtyp" *ngFor="let dbtype of databasetypes" [value]="dbtype.id">{{dbtype.dialect}}</option>
    </select>

</div>
<div class="form-group">

    <label for="btyp">Businessrule type</label>
    <select id="btyp" clrSelect name="ruletype"   (change)="onSelectChange()" [(ngModel)]="ruletype" required>
      <option *ngFor="let brtype of ruletypes" [value]="brtype.id">{{brtype.name}}</option>
    </select>

</div>
<br>
<hr>
<br>
<div class="form-group">

  <label for="trigtemp">Trigger Template</label>
  <textarea id="trigtemp" name="triggerText" [(ngModel)]="trigger.template"  rows="10"></textarea>

</div>
<div class="form-group">

  <label for="consttemp">Constraint Template</label>
  <textarea id="consttemp" name="constraintText" [(ngModel)]="constraint.template"  rows="5"></textarea>

</div>
<div class="form-group">
  <button class="btn btn-primary" type="submit">Edit</button>
</div>
</form>
